.principal {
    display: flex;
}

.producto {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 2px solid palevioletred;
    background-color: plum;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

img {
    width: 100px;
    height: 100px;
    
}